div.posHelp {
    position: relative;
    height: 2000px;
    width: 1900px;
    background-color: gray
}

main {
    position: relative;
    height: 100%;
    width: 100%;
}

div.abs {
    position: absolute;
    z-index:999;
}

div.abs a {
    text-decoration: none;
    font-size: 10px;
    color: red;
}